.history-search-wrapper {
    padding-left: .14rem;
    background: #fff;
    .iconfont{
        font-size: .18rem;
        color: #777;
    }
}
.history-search-title {
    padding: .10rem .16rem .1rem 0;
    font-size: .16rem;
}

.history-item-wrapper {
    padding-top: .14rem;
    .history-item {
        padding: 0 .14rem;
        height: .28rem;
        line-height: .28rem;
        border: 1px solid #eee;
        margin:0 .14rem .14rem 0;
        font-size: .13rem;
    }
}
