.toast-wrapper {
    position: absolute;
    display: block;
    z-index: 2000;
    transition: all .2s;
    top: 50%;
    left: 50%;
    padding: .08rem .18rem;
    border-radius: .04rem;
    color: #fff;
    background: rgba(0,0,0,.5);
    transform: translate3d(-50%,-50%,0);
    &.middle{
        top: .7rem;
        transform: translate3d(-50%,-50%,0);
    }
}
